<main>
    <div class="container">
        <div class="mx-5 mt-5">
            <div class="card shadow-lg" style="width: 25rem;">
                <div class="card-body">
                    <div class="alert alert-danger" *ngIf="error" role="alert">{{error}}</div>
                    <h5 class="card-title mb-3">Вход пользоваателя</h5>

                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="mb-3">
                            <label for="email" class="form-label">email</label>
                            <input type="email" formControlName="email" class="form-control"  [ngClass]="{'is-invalid': submitted && f.email.errors }" id="email" name="email" placeholder="email">
                            <div *ngIf="submitted && f.email.errors">
                                <small *ngIf="f.email.errors.required">Поле email обязательно</small>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">Пароль</label>
                            <input type="password" formControlName="password" class="form-control" [ngClass]="{'is-invalid': submitted && f.password.errors}" id="password" name="password" placeholder="Пароль">
                            <div *ngIf="submitted && f.password.errors">
                                <small *ngIf="f.password.errors.required">Поле "пароль" обязательно</small>
                            </div>
                        </div>

                        <div class="row">
                            <div >
                                <button type="submit"  class="btn btn-primary btn-block">Вход пользователя</button>

                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>